#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

#myContent {
  display: flex;
  flex-direction: column;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.CountryBox {
  align-items: left;
  text-align: left;
  color: black;
  width: 500px;
  padding: 0em 1em 0em 1em;
}

.hBar {
  height: 14px;
  background-color: blue;
  animation: myMove 500ms;
  transform-origin: 0 0;
}

@keyframes myMove {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(100%);
  }
}

.CountryBox:nth-child(even) {
  background-color: rgba(197, 197, 201, 0.5);
}

.CountryBox:nth-child(odd) {
  background-color: rgba(220, 220, 220, 0.5);
}

#form{
  color: aqua;
}

p{
  color: black;
}

h1, h2{
  color: black;
}